<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Delete User</title>
</head>
<body>
    
    <div class="form-add-new">
        <form action="/delete-user"  method="POST">
            <fieldset>
            <legend>Delete user</legend>
            <div class="input-group  d-none">
                <label>Id: </label>
                <input type="text" class="type" name="userId"  value= <%= userEdit.id%> >
            </div>
            <div class="input-group" >
                <p>Are you sure to delete this user with email: </p>
                <label>Email: </label>
                <input type="text" class="type" name="email"  value= <%= userEdit.email%> >
            </div>

          
            <div>
                <button> Confirm </button>
            </div>
            </fieldset>
        </form>
    </div>
</body>
</html>